<h1 class= "message ml-5"><%= @user.name %>さんとのチャット</h1>


  <div class="chat ml-5" style="width: 400px;">
    <% @chats.each do |chat| %>
      <% if chat.user_id == current_user.id %><!--チャットの内容がカレントユーザー投稿したものなら-->
        <p style="text-align: right;"><%= chat.message %></p><!--右側にメッセージを表示-->
      <% else %><!--ﾛｸﾞｲﾝﾕｰｻﾞｰが投稿したものじゃなければｰ-->
        <p style="text-align: left;"><%= chat.message %></p><!--左側に表示-->
      <% end %>
    <% end %>
  </div>
  
<%= form_with model: @chat, data: {remote: true},date:{"turbolinks"=>false} do |f| %>
  <%= f.text_field :message, class:"ml-5" %>
  <%= f.hidden_field :room_id %>
<% end %>
